.text-container {
  margin-top: 5px;
  width: 100px;
  margin-bottom: 0px;
}

.timeline-container {
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 100px;
  margin-right: auto;
  margin-left: auto;
}

.time-row {
  margin-left: 10px;
  margin-top: 1px;
  font-size: 20px;
  font-family: "Inter";
}
