.timeline-container {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
}

.time-row {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex-direction: row;
  margin-top: 3px;
  font-size: 20px;
  font-family: "Inter";
  font-style: italic;
}

.arrow-container {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
}

.clock-container {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
}
